<launch> 
 <arg name="use_robot_state_publisher" default="true">
 <arg name="bag_file" value="glennan_5_basic_short"/>
 <arg name="laser" default="true"/>
 <arg name="use_sim_time" default="true"/>

 <arg if = "$(arg laser)" name = "config_filename" default = "$(find navvis_description)/config/config.rviz" /> 
 <arg unless = "$(arg laser)" name = "config_filename" default = "$(find navvis_description)/config/config.rviz" /> 
 
 
 <include file="$(find navvis_description)/launch/display.launch">
  <arg if="$(arg use_robot_state_publisher)" name="use_xacro" value="$(arg use_new)"/>
  <arg if="$(arg use_robot_state_publisher)" name="rviz_config_file" value="$(arg config_file)"/>
  <arg if="$(arg use_robot_state_publisher)" name="filename" value="robot.xacro"/>
  <arg if="$(arg use_robot_state_publisher)" name="file" value="$(find scanner)/urdf/robot.xacro"/>
 </include>
	


 <group if="$(arg use_sim_time)">
  <node pkg="rosbag" type="play" name="rosbag_play" output="screen" args="--clock $(find navvis_description)/$(arg bag_file).bag"/>
 </group>


</launch > 
